<div class="container">
	<nav class="navbar navbar-inverse navbar-fixed-bottom" id="my_footer">
		<div class="navbar-footer nav-justified">
            <p id="geeks">&copy;2016 | Created by <a href="https://github.com/K4M1coder">K4M1coder</a> &amp; <a href="https://github.com/sysn00ps">sysn00ps</a> @Geeking2gether | <a ng-href="/{{'about'}}">Who we are</a>
            <span id="yin_yang">&#9775;</span>
            <a ng-href="/{{'contact'}}">Stay in touch</a></p>
        </div>                     		
	</nav>
</div>