<div class="container">
    <div class="row">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                    <!-- As a result of this technique blind people are supposed to navigate easier on the website -->
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="logo">
                    <img class="navbar-brand" alt="Logo" src="/images/logo3_transparent.png"/>
                    <span id="slogan">Swap out your skills</span>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbar-collapse nav-main-collapse collapse">
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <li ng-class="{ active: isActive('/') || isActive('/home')}"><a xref="/#" class="btn animated_btn navbar-btn"><span class="glyphicon glyphicon-home"></span> Home<span class="sr-only">(current)</span></a></li>
                            <li ng-class="{ active: isActive('/howItWorks')}"><a xref="/howItWorks" class="btn animated_btn navbar-btn"><span class="glyphicon glyphicon-dashboard"></span> How it works?<span class="sr-only">(current)</span></a></li>
                            <li ng-class="{ active: isActive('/search')}"><a xref="/search" class="btn animated_btn navbar-btn"><span class="glyphicon glyphicon-search"></span> Search<span class="sr-only">(current)</span></a></li>
                            <li ng-class="{ active: isActive('/help')}"><a xref="/help" class="btn animated_btn navbar-btn"><span class="glyphicon glyphicon-question-sign"></span> Help<span class="sr-only">(current)</span></a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <script>
                                console.log('isloggedin');
                                console.log(angular.element($("#someId")).scope());
                            </script>
                            <li><a href="/register" class="btn animated_btn navbar-btn" ng-show="!$scope.isUserLoggedIn" ><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <!--<li><a href="/login" class="btn animated_btn navbar-btn" ng-show="!$scope.isUserLoggedIn" ><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
                            <li class="dropdown" ng-show="$scope.isUserLoggedIn">
                                <a href="/logout" class="btn animated_btn navbar-btn" ng-show="$scope.isUserLoggedIn" ><span class="glyphicon glyphicon-log-out"></span> Logout </a>
                            </li>
                            <li class="dropdown" id="menuLogin" ng-show="!$scope.isUserLoggedIn">
                                <a class="dropdown-toggle btn animated_btn navbar-btn" href="#" data-toggle="dropdown" id="navLogin"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                                <div class="dropdown-menu pull-right" style="padding:17px;">

                                    <loginform> </loginform>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
