<div class="well">

    <div class="row" id="loginFormRow">

    <h1 class="text-center">Connexion</h1>
    <hr class="colorgraph">
    <p class="lead"> Pas encore inscrit ?!<br><a href="#/register"> Veuillez vous vous inscrire</a></p>
    <form  class="form" ng-submit="login.onSubmit()" >
            <fieldset>
                <div role="alert" ng-show="login.formError" class="alert alert-danger">{{login.formError}}</div>
                <div class="form-group">
                    <input type="email"  class="form-control input" placeholder="Votre adresse mail"  ng-model="login.credentials.mail" required style="min-width:20em">
                </div>
                <div class="form-group">
                    <input type="password"  class="form-control input" placeholder="Votre mot de passe" ng-model="login.credentials.password" required>
                <hr class="colorgraph">
                </div>
                <div class="row text-center">
                        <button type="submit" class="btn animated_btn navbar-btn">Login</button>
                </div>
            </fieldset>
        </form>

    </div>
</div>