<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header" style="float: none!Important;">
        	<img alt="Logo" src="/images/logo3_transparent.png" style="height: 80px">
        	<button type="button" class="btn animated_btn navbar-btn">Home</button> 
        	<button type="button" class="btn animated_btn navbar-btn">Have fun</button>
        	<button type="button" class="btn animated_btn navbar-btn">Help</button>
        	<button type="button" class="btn animated_btn navbar-btn" style="float:right; margin-top: 30px;">Login</button>
        	<button type="button" class="btn animated_btn navbar-btn" style="float:right; margin-top: 30px;">Register</button>
    	</div>
	</div>
<div class="container">
	<div id="animated-gif-infinity-loop"></div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container-fluid">
		<div class="navbar-footer">
        	<p id="geeks">2016 | Created by team @Geeking2gether (<a href="https://github.com/K4M1coder">K4M1</a> & <a href="https://github.com/sysn00ps">sysn00ps</a>)</p> 
        	<p></p>
    	</div>
	</div>
</nav>
