<!-- navigation bar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
        <div class="row">
		  <div class="navbar-header">
             <div class="col-xs-12 col-sm-6 col-md-8">
                <img alt="Logo" src="/images/logo3_transparent.png" id="logo">
                    <!-- 1st button groupe -->
                    <div class="btn-group" role="group" id="btn-group-left">
        	           <button type="button" class="btn animated_btn navbar-btn">Home</button> 
        	           <button type="button" class="btn animated_btn navbar-btn">Have fun</button>
        	           <button type="button" class="btn animated_btn navbar-btn">Help</button>
                    </div>
            </div>            
            <div class="col-xs-6 col-md-4">
                <!-- 2nd button groupe -->
                <div class="btn-group" role="group" id="btn-group-right">
        	       <button type="button" class="btn animated_btn navbar-btn">Login</button>
        	       <button type="button" class="btn animated_btn navbar-btn">Register</button>
                </div>
            </div>
    	  </div>
        </div>
	</div>
</nav>
<!-- page body -->
<div class="container">
<div class="row">
<div class="title">TimeShare<br>Bienvenue</div>
	<canvas id="canvas"><script src="/views/infinite-loop.js"></script></canvas>
        
            
           
</div>
</div>
<!-- footer -->
<nav class="navbar navbar-default navbar-fixed-bottom" style="background-color: #000000;">
	<div class="container-fluid">
    <div class="row">
		<div class="navbar-footer" style="float: none!Important;">
        	<p id="geeks">2016 | Created by <a href="https://github.com/K4M1coder">K4M1coder</a> & <a href="https://github.com/sysn00ps">sysn00ps</a> @Geeking2gether | <a href="#" target="_blank">Who we are</a></p> 
<audio autoplay="autoplay">
                <source src="/sounds/Mecano-Hijo-de-la-luna.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>

 <!-- <button id="transparent_btn" class="btn btn navbar-btn" audio options="options"><img src="/images/sound.png"/></button>

    <div ng-controller='audioDemo'>

 <button ng-click='audio.muting = !audio.muting' id="transparent_btn" class="btn btn navbar-btn"><img src="/images/sound.png"/></button>



 </div>


       <audio autoplay="autoplay">
                <source src="/sounds/Mecano-Hijo-de-la-luna.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>

            <button id="transparent_btn" class="btn btn navbar-btn" ng-click="muted"> 
                <img src="/images/sound.png"/ style="width="20; height=20;">                       
            </button>

            <div ng-model="muted" ng-init="muted=false"></div>
        	   <button id="transparent_btn" class="btn btn navbar-btn" ng-click="muted"> 
                    <img src="/images/sound.png"/>
                        
               </button>

                <button id="transparent_btn" class="btn btn navbar-btn" ng-click="muted" ng-if="muted=true">
                    <img src="/images/no_sound.png"/>
                </button>  </div>   -->       
            
 
        


    	
	</div>
    </div>
</nav>







