<!-- navigation bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">       
		<div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>  
           
            <img class="navbar-brand" alt="Logo" src="/images/logo3_transparent.png" id="logo"/>                   
         
                
          
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
            <span class="pull-left">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="btn animated_btn navbar-btn"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li><a href="#" class="btn animated_btn navbar-btn"><span class="glyphicon glyphicon-dashboard"></span> Service</a></li>
                    <li><a href="#" class="btn animated_btn navbar-btn"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
                </ul> 
            </span>
                  <span class="pull-right">
                     <ul class="nav navbar-nav">
                    <li><a href="#" class="btn animated_btn navbar-btn"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#" class="btn animated_btn navbar-btn"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul> 
                  </span>         
                
</div>
 </div>


        </div>
	
</nav>
<!-- page body -->
<div class="container">
<div class="row">

	<canvas id="canvas"><script src="/views/infinite-loop.js"></script></canvas>
        
       <div class="title">TimeShare<br>Welcome</div>     
        
</div>
</div>
<!-- footer -->
<nav class="navbar navbar-default navbar-fixed-bottom" style="background-color: #000000;">
	<div class="container-fluid">

		<div class="navbar-footer nav-justified">
        <p id="geeks">&copy;2016 | Created by <a href="https://github.com/K4M1coder">K4M1coder</a> &amp; <a href="https://github.com/sysn00ps">sysn00ps</a> @Geeking2gether | <a href="#">Who we are</a> 
        <span id="yin_yang">&#9775;</span>
        <a href="#">Keep in touch</a></p> 
                <audio autoplay="autoplay">
                    <source src="/sounds/Mecano-Hijo-de-la-luna.mp3" type="audio/mp3">
                    Your browser does not support the audio element.
                </audio>
</div>
 <!--
  <button id="transparent_btn" class="btn btn navbar-btn"><img src="/images/sound.png"/></button>

    <div ng-controller='audioDemo'>

 <button ng-click='audio.muting = !audio.muting' id="transparent_btn" class="btn btn navbar-btn"><img src="/images/sound.png"/></button>



 </div>


       <audio autoplay="autoplay">
                <source src="/sounds/Mecano-Hijo-de-la-luna.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>

            <button id="transparent_btn" class="btn btn navbar-btn" ng-click="muted"> 
                <img src="/images/sound.png"/ style="width="20; height=20;">                       
            </button>

            <div ng-model="muted" ng-init="muted=false"></div>
        	   <button id="transparent_btn" class="btn btn navbar-btn" ng-click="muted"> 
                    <img src="/images/sound.png"/>
                        
               </button>

                <button id="transparent_btn" class="btn btn navbar-btn" ng-click="muted" ng-if="muted=true">
                    <img src="/images/no_sound.png"/>
                </button>  </div>   -->       
            
 
        


  
</nav>







